header{
    background-color: #000;
      color: #fff;
      padding: 20px 40px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 40px;
}
.logo {
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
  }

.container {
    display: flex;
    justify-content: space-between;
  }
  
  .filter-box {
    border: 1px solid #ccc;
    padding: 10px;
    width: 45%;
  }
  
  .user-box,
  .department-box {
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    padding: 5px;
    margin-top: 5px;
  }
  
  .user-box p,
  .department-box p {
    margin: 0;
  }
  table {
    /* Add styling for the table */
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    /* Add styling for table cells */
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  th {
    /* Add styling for table headers */
    background-color: #f2f2f2;
  }
  